.container-fluid{
 
    height: 100px;

    .navbar-brand{
        background-color: rgb(4, 43, 78);
        height: 60px;
        width: 60px;
        margin: 30px;
    }
    
    .allheader{
        display: flex;
        justify-content:space-between;
    }

    .nav-item{
        margin-left: 100px;
    }

    .nav-item2{
        margin-left:  350px;
        display: flex;
        justify-content: center ;
        
        i{
            line-height: 40px;
        }
}
}
.contain{
    height: 725px;
    background-color: rgb(125, 158, 188);

}